<div class='menu'>
  <h3>{{this.name}}</h3>

  <div class='promo-blocks__actions'>

    <button  data-name='{{this.title}}' data-id='{{this.id}}' data-RestaurantId='{{this.RestaurantId}}' type='button' onClick='deleteMenu(this)'>
      Delete
    </button>

  </div>
</div>