<div class='restaurant'>
  <h3>{{this.title}}</h3>
  <img src='' alt='{{this.title}}' />

  <div class='promo-blocks__actions'>

    <button  data-name='{{this.title}}' data-id='{{this.id}}' type='button' onClick='deleteMenu(this)'>
      Delete
    </button>


  </div>
</div>